.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  width: 100%;
}

.main {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listA {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0rem 5rem;
  align-self: flex-start;
}
.listA h4 {
  margin: 0;
  padding: 1rem 0;
}
.listA span {
  margin: 0;
  padding-top: 0.8rem;
}
.listA span a:hover {
  text-decoration: underline;
}
.listA li {
  margin: 0;
  padding-top: 0.8rem;
}

.listA li:hover {
  text-decoration: underline;
}

@media (max-width: 1090px) {
  .main {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
