.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 3rem;
  height: var(--nav-height);
  width: 100%;
  z-index: 10;
}

.container h1 {
  margin: 0;
}

.logo {
  font-size: var(--fz-xl);
  color: var(--logo-color-900);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s;
  gap:0.5rem;
  border: 0;
  padding: 0.5rem;
}
.btn:hover{
  background-color: #ccc;
}

.btn span {
  font-size: 20px;
}

.btn svg {
  font-size: var(--fz-ml);
}

.navBtnContainer {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.navBtn {
  width: 90px;
  padding: 0.5rem;
  margin-left: 2rem;
  text-align: center;
  border-radius: 10px;
  transition:0.6s;
  font-size: 19px;
}

.navBtn:hover {
  text-decoration: underline;
}

.hamburgurBtn {
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 10px;
  display: none;
  align-items: center;
  transition: all 0.3s ease-in;
}

.hamburgurBtn:hover {
  background: #ccc;
}

.navLinksSm {
  display: none;
  justify-content: center;
  align-items: center;
}

@media (max-width: 876px) {
  .container {
    padding: 0 2rem
  }
  .navBtnContainer{
    gap:1rem
  }
  .navBtn {
    margin-left: 0.5rem;
  }
  .navLinks {
    display: none;
  }
  .hamburgurBtn {
    display: flex;
    margin-left: 0.3rem;
  }
  .navLinksSm {
    display: flex;
    flex-direction: column;
  }
}
